<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script type="text/javascript" src="/javascripts/socket.io-1.4.5.js"></script>
    <script type="text/javascript">
      var socket = io.connect('ws://localhost:3001');
      socket.on('message',function(data){
          console.log(data);
      });
    </script>
  </body>
</html>
